/* make navbar responsive */
@media (max-width: 992px) {
  .navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
  .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.875rem;
  }
  .nav-item {
  margin-bottom: 1.25rem;
  }
  .custom-btn {
  display: block;
  width: 100%;
  text-align: center;
  }
  .navbar-brand {
  display: block;
  text-align: center;
  margin: 0 auto;
  }
  }
  
  /* make hero section responsive */
  @media (max-width: 992px) {
  .hero {
  height: 100vh;
  min-height: 31.25rem;
  padding-top: 6.25rem;
  }
  .hero-text {
  text-align: center;
  margin-bottom: 3.125rem;
  }
  .hero-title-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  }
  .hero-title {
  font-size: 2.5rem;
  margin-top: 1.25 rem;
  }
  .hero-image-wrap,
  .hero-image {
  display: none;
  }
  }
  
  /* make about section responsive */
  @media (max-width: 992px) {
  .about {
  padding: 5rem 0;
  }
  .about-image {
  display: flexbox;
  }
  .about-thumb {
  text-align: center;
  margin-bottom: 3.125rem;
  }
  .about-title {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  }
  }
  
  /* make skills section responsive */
  @media (max-width: 992px) {
  .skills {
  padding: 5rem 0;
  }
  .skill-item {
  text-align: center;
  margin-bottom: 1.875rem;
  }
  .skill-icon {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
  }
  .skill-title {
  font-size: 1.875rem;
  }
  }
  
  /* make project section responsive */
  @media (max-width: 992px) {
  .projects {
  padding: 5rem 0;
  }
  }
  
  
  
  